* {
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    background-image: url('https://wallpapercave.com/wp/q2iEGkd.jpg');
    background-size: cover;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}
